.loader {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    #FFC837,
    #ff512f,
    #dd2476,
    #514a9d,
    #24c6dc,
    #93EDC7
  );
  background-size: 400% 400%;
  animation: animate 2s ease infinite alternate;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
