.container {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  transition: background 0.3s;

}
.storyInput {
  max-width: 90%;
  min-width: 90%;
  max-height: 90%;
  min-height: 90%;
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
}
.storyInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.storyInput:focus {
  outline: none;
}


