.header {
  height: 40px;
  width: 100%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo {
  width: 30px;
  height: 30px;
}

.heading {
  font-size: 15px;
  font-weight: bold;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}
.menuIcon{
  font-size: 16px;
  cursor: pointer;
  color: #555;
}