.storyColor0 {
  background: linear-gradient(to right bottom, #7F00FF, #E100FF);
  /* background: linear-gradient(to right bottom, #8a2387, #e94057, #f27121); */
}
.storyColor1 {
  background: linear-gradient(to right bottom, #12c2e9, #c471ed, #f64f59);
}
.storyColor2 {
  background: linear-gradient(to right bottom, #f12711, #f5af19);
}
.storyColor3 {
  background: linear-gradient(to right bottom, #00f260, #0575e6);
}
.storyColor4 {
  background: linear-gradient(to right bottom, #FC466B, #3F5EFB);
}
.storyColor5 {
  background: linear-gradient(to right bottom, #000046, #1cb5e0);
}
.storyColor6 {
  background: linear-gradient(to right bottom, #8a2387, #e94057, #f27121);
}
