.font-vsmall {
  font-size: 12px;
}
.font-small {
  font-size: 17px;
}
.font-big {
  font-size: 25px;
}
.font-bold {
  font-weight: bold;
}
.link-1 {
  color: #e100ff;
  text-decoration: none;
  transition: background 0.3s;
}
.link-1:hover {
  background: linear-gradient(to left, #7f00ff, #e100ff);
  color: #fff;
}

.link-2 {
  color: #e100ff;
  text-decoration: none;
  transition: background 0.3s;
}

h2 {
  margin: 0;
  padding: 0;
}

.text-primary {
  color: #333;
}
.text-secondary {
  color: #555;
}
.text-light {
  color: #fff;
}
