.font-vsmall {
  font-size: 12px;
}
.font-small {
  font-size: 17px;
}
.font-big {
  font-size: 25px;
}
.font-bold {
  font-weight: bold;
}
.link-1 {
  color: #E100FF;
  text-decoration: none;
  transition: background 0.3s;
}
.link-1:hover {
  background: linear-gradient(to left, #7F00FF, #E100FF);
  color: #fff;
}


h2 {
    margin: 0;
    padding: 0;
  }

  .text-primary {
    color: #333;
  }
  .text-secondary {
    color: #555;
  }
  .text-light {
    color: #fff;
  }